<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="CARMA"
            visible="true"
            id="eu.quanticol.carma.ui.menu.actionSet">
         <menu
               label="CARMA"
               id="carmaMenu">
            <separator
                  name="carmaGroup">
            </separator>
         </menu>
      </actionSet>
   </extension>

</plugin>
