<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


<!-- adding resource factories -->



	<!-- marker definitions for eu.quanticol.carma.core.CARMA -->


	<!-- Quick Outline -->
    <!-- quickfix marker resolution generator for eu.quanticol.carma.core.CARMA -->
   	<!-- Rename Refactoring -->

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="carma"
            type="text">
    </fileTypes>
  </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.quanticol.carma.ui.wizard.categoryCarma"
            class="eu.quanticol.carma.ui.wizard.CARMAExecutableExtensionFactory:eu.quanticol.carma.ui.wizard.CARMANewProjectWizard"
            id="eu.quanticol.carma.ui.wizard.CARMANewProjectWizard"
            name="CARMA Project"
            project="true">
      </wizard>
      <category
            id="eu.quanticol.carma.ui.wizard.categoryCarma"
            name="CARMA">
      </category>
   </extension>
   
</plugin>
