<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.quanticol.eu/carma/core/CARMA" 
       class = "eu.quanticol.carma.core.cARMA.CARMAPackage"
       genModel = "model/generated/CARMA.genmodel" /> 
	
  </extension>



</plugin>
